<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login - Password Manager</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="page-wrapper">
      <div class="content">
        <form method="POST" class="form login-form" id="loginForm">
          <div class="text">Login</div>
          <div class="error-msg hidden">
            <i class="fas fa-exclamation-circle"></i>
            <span id="errorText"></span>
          </div>

          <div class="field">
            <input type="text" name="username" required />
            <span class="fas fa-user"></span>
            <label>Username</label>
          </div>
          <div class="field">
            <input type="password" name="password" required />
            <span class="fas fa-lock"></span>
            <label>Password</label>
          </div>
          <button type="submit">Sign in</button>
          <div class="sign-up">
            Not a member?
            <br />
            <a href="register.html">signup now</a>
          </div>
        </form>
      </div>
    </div>
    <script src="../assets/js/main.js"></script>
  </body>
</html>
